$top-bottom-margin: 20px;

body {
  font-family: Helvetica;
}
.app {
  height: 100vh;
  display: flex;
  align-items: stretch;

  div {
    padding: 12px;
  }

  h3 {
    padding-bottom: 8px;
  }
  
  .logo {
    width: 100%;
  }

  .bottom-grey {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .side-bar {
    flex: 0 0 80px;
    background: rgba(0, 0, 0, 0.1);
  }

  .channel-list {
    flex: 0 0 200px;
    background: rgba(0, 0, 0, 0.02);

    ul {
      padding-left: 0;
    }
    li {
      list-style: none;
      margin: 4px 0;
    }
  }

  .message-list {
    flex: 1 1;
  }
}
